--find-links https://k2-fsa.github.io/icefall/piper_phonemize.html

torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
numpy
lhotse
huggingface_hub
safetensors
tensorboard
vocos
pydub

# Normalization
cn2an
inflect

# Tokenization
jieba
piper_phonemize
pypinyin
setuptools<81
psutil

uvicorn
fastapi
sse-starlette
nltk
roman
vietnam_number==1.0.3